<!DOCTYPE html>
{% load staticfiles %}
<html ng-app="tasks" manifest="lib/tasks.manifest">
<head lang="en">
    <meta charset="UTF-8">
    <title>Offline Sync Task App</title>
    <link href='{% static "lib/css/styles.css" %}' rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="/static/lib/images/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="/static/lib/images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/lib/images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/lib/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/lib/images/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/lib/images/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/lib/images/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/lib/images/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/lib/images/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="/static/lib/images/favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="/static/lib/images/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/static/lib/images/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/static/lib/images/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/static/lib/images/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-TileImage" content="/static/lib/images/mstile-144x144.png">
    <meta name="msapplication-config" content="/static/lib/images/browserconfig.xml">
</head>
<body>
{% include "header.html" %}
<div class="container" ng-view>

</div>
<script src="{% static "lib/js/vendor/angular.js" %}"></script>
<script src="{% static "lib/js/vendor/angular-route.js" %}"></script>
<script src="{% static "lib/js/vendor/angular-cookie.min.js" %}"></script>
<script src="{% static "lib/js/vendor/indexeddb.js" %}"></script>
<script src="{% static "lib/js/vendor/uuidService.js" %}"></script>
<script src="{% static "app/app.js" %}"></script>
<script src="{% static "app/services/taskService.js" %}"></script>
<script src="{% static "app/services/syncService.js" %}"></script>
<script src="{% static "app/controllers/taskController.js" %}"></script>
</body>

</html>