<div class="container page-home">
    <div class="hidden-lg hidden-md">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Tasks</h3>
            </div>
            <div class="panel-body">
                <div class="media" ng-repeat="task in tasks">
                    <div ng-click="toogleComplete(task)">
                        <i class="fa fa-4x fa-square-o pull-left" ng-hide="task.completed"></i>
                        <i class="fa fa-4x fa-check-square-o pull-left" ng-show="task.completed"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">{{ task.title }}</h4>
                        {{ task.date_created }}
                        <div class="pull-right" ng-click="deleteTaks(task)">
                            <i class="fa fa-times grey fa-3x"></i>
                        </div>
                    </div>
                </div>
                <div class="media">
                    <a href="#/tasks/new">
                        <i class="fa fa-4x fa-plus pull-left"></i>
                    </a>

                    <div class="media-body">
                        <h4 class="media-heading">New Task</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden-sm hidden-xs">
        <div class="page-header">
            <h2>Tasks</h2>
        </div>
        <div class="media" ng-repeat="task in tasks">

            <i class="fa fa-4x fa-square-o pull-left" ng-hide="task.completed"></i>
            <i class="fa fa-4x fa-check-square-o pull-left" ng-show="task.completed"></i>

            <div class="media-body">
                <h4 class="media-heading">{{ task.title }}</h4>
                {{ task.date_created }}
                <div class="pull-right" ng-click="deleteTaks(task)">
                    <i class="fa fa-times grey fa-3x"></i>
                </div>
            </div>
        </div>
        <div class="media">
            <a href="#/tasks/new">
                <i class="fa fa-4x fa-plus pull-left"></i>
            </a>

            <div class="media-body">
                <h4 class="media-heading">New Task</h4>
            </div>
        </div>
    </div>
</div>